@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body {
    background-image: url("assets/projects_images/Recurso\ 140.png");
    background-attachment: fixed;
    color: #354538;
    font-family: sans-serif;


}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right bottom, rgb(23, 24, 25), #032342);
    width: 100px;
}
.sidar{
    padding: 10px;
}
.icon_flotante{
    position: absolute;
    margin-top: -215px;
    width: 50px;
    margin-left: 10px;
    
}

a {
    text-decoration: none;
    color: #354548;

}

a:hover {
    text-decoration: none;
    color: #000;
}

.app__container {
    padding-top: 50px;
}

.app__row {
    height: 86vh;
}
.footer{
    margin-top: 100px;
}



.contenido{
    background-image: url("assets/projects_images/Recurso\ 135.png");
    width: 100%;
    height: 85%;
    position: "absolute";
}

.app__main-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
}

/* sidebar */
.sidebar {
    background-color: #fff;
    height: 100%;
    border-radius: 20px;
    padding: 5px 5px;
    box-shadow: 0 0 10px black;
    text-align: center;
}
.sidebar_r{
    height: 170px;
    margin-top: 54px;
     width: 32px;
}
.galeria{
    position: absolute;
    height: 233px;
    margin-left: -48px;
}
.noticias{
    position: absolute;
    height: 232px;
    margin-left: -46px;
    margin-top: 15px;
}
.imgcontent{
    height: 310px;
    width: 370px;
    margin-right: 50px;
}
.contenidoo{
    text-align: justify;
    color: #041b4d;
    
}

.camara{
    position: absolute;
    width: 76px;
    margin-left: 16px;
    margin-top: 16px;
}
.bocina{
    position: absolute;
    width: 76px;
    margin-left: 10px;
    margin-top: 10px;
}
.manzana{
    position: absolute;
    width: 76px;
    margin-left: 4px;
}


.sidebar__avatar {
    height: 280px;
    width: 250px;
  
    object-fit: contain;
   
}
.sidebar_{
    height: 260px;
    width: 250px;
  
    object-fit: contain;
   
}
.sideb{
    height: 165px;
    margin-top: 48px;
     width: 32px;
}
.imgTitulo{
    width: 100%;
    
    margin-top: 49px;
   
}
.imgContent{
    width: 100%;
    
    height: 600px;
   
}


.sidebar__icon {
    width: 25px;
    height: 25px;
}

.sidebar__name {
    font-family: 'Kaushan Script';
    margin: 20px 0;
    font-size: 1.7rem;
}

.sidebar__name>span {
    color: #00F260;
}

.sidebar__item {
    margin-bottom: 5px;
    padding-top: 5px;
    
    width: 100%;
   
    
   
}
.sidebar__avr {
    width: 100%;
    
    
}
.sidebaravr{
    width: 100%;
    height: 250px;
}

.sidebar__title {
    background-color: #f1f1f1;
    border-radius: 30px;
}

.sidebar__contact {
    background-color: #dbdddf;
    padding: 2px 0;
    margin: 20px -15px;

}
.img_cerca{
    width: 400px;
   height: 255px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: -25px;
}
.img_cercaa{
    width: 350px;
    height: 234px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -4px;
   
   
}
.img_cercaaa{
    width: 330px;
    height: 233px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 15px;
   
   
}
.img_cercaaaa{
    width: 350px;
    height: 218px;
    margin-right: auto;
    margin-top: -15px;
   
   
   
}
.titulo_cerca{
    margin-top: 15px;
    color:#032342;
    font-weight: bold;
}
.titulo_cercaa{
    margin-top: 14px;
    color:#032342;
    font-weight: bold;

   
}
.titulo_cercaaa{
    
    color:#032342;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar__email {
    background-image: linear-gradient(to right bottom, #00F260, #0575E6);

    border-radius: 30px;
    color: #fff;
    margin: 15px 25px 0px;
    cursor: pointer;
    transition: all 3s linear;
}

.sidebar__email:hover {
    transform: scale(1.2);
}

.sidebar__github:hover,
.sidebar__resume:hover {
    background-color: #f1f1f2;
    color: #000;
}

@media(max-width:991px) and  (min-width:600px) {
    .app__main-content {
        margin: 30px 0;
    }
    .sidebar__avr {

        width: 100%;
        padding-bottom: 15px;
   
    }
    .img_cerca{
    width: 400px;
   height: 250px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: auto;
}
.img_cercaa{
    width: 350px;
    height: 230px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -4px;
   
   
}
.img_cercaaa{
    width: 330px;
    height: 227px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 30px;
   
   
}
.img_cercaaaa{
    width: 350px;
    height: 218px;
    margin-right: auto;
   

   
   
   
}
.titulo_cerca{
  margin-right: auto;
    margin-left: auto;
}
.titulo_cercaa{
  margin-right: auto;
    margin-left: auto;

   
}
.titulo_cercaaa{
    margin-top: 30px;
   
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
    
  
    .sidebar_r{
        height: 340px;
        margin-top: 21px;
         width: 75px;
         position: absolute;
         
         
         
    }
    .sidebar_{
        height: 260px;
        width: 100%;
      
       
       
    }
    .sideb{
        height: 260px;
        margin-top: -260px;
         width: 50px;
         margin-left: 400px;
         position: absolute;

    }

    .contenido{
    background-image: url("assets/projects_images/Recurso\ 135.png");
    width: 100%;
    height: 85%;
    }
    .sidebar__avatar {
        height: 100%;
        width: 100%;
        
        padding-top: 20px;
        object-fit: contain;
        
       
    }
    .icon_flotante{
        position: absolute;
      
        width: 70px;
        margin-left: -470px;
        margin-top: 30px;
       
        
    }
}

/* navbar */

.navbar__items {
    display: flex;
}

.navbar__active {
    font-size: 2rem;
    font-weight: 700;
    color: #354358;
   
}

.navbar__item {
    margin-right: 20px;
    text-decoration: none;
    color: #354358;
    font-size: 1.3rem;
    cursor: pointer;
}

.navbar__item:hover {
    background: -webkit-linear-gradient(#00F260, #0575E6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.sidebar__item{
    width: 100%;
}



/* skill-card */
.skill-card {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.skill-card__icon {
    width: 40px;
    height: 40px;
}

.skill-card-body {
    margin-left: 15px;

}

.skill_card__content {
    margin: 0;
    font-size: 0.9rem;
    color: #6e7e91;
}

/* resume */

.resume {
    padding-top: 20px;
}

.resume-card__heading,
.reume-language__heading {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #354538;
}

.resume-card__body {
    margin-top: 10px;
}

.resume-card__title {
    font-weight: 700;
}

.resume-card__name {
    font-size: 16px;
}

.resume-card__details {
    font-size: 0.9rem;
    padding-top: 5px;
}

/* bar */
.bar {
    width: 90%;
    background-color: #f1f2f3;
    border-radius: 20px;
    margin-bottom: 12px;

}

.bar__icon {
    width: 15px;
    height: 15px;
}

.bar__wrapper {
    background-image: linear-gradient(90deg, #00F260, #0575E6);
    border-radius: 20px;
    padding: 4px 14px;
    color: #fff;
    font-size: 0.9rem
}

/* projects */
.projects {
    height: 70vh;
    padding-top: 30px;
    overflow-y: auto;
}

.projectCard__wrapper {
    margin: 10px 0;
    width: 100%;
    height: 100%;
    min-height: 160px;
}

.projectCard__image {
    width: 100%;
    height: 80%;
    border-radius: 30px;
    border: 1px solid #00F260;
    transition: transform 0.3s linear;
}

.projectCard__image:hover {
    transform: scale(1.05);
}

.projectCard__icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.projectCard__title {
    margin-top: 12px;
    font: size 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects__navbar {
    display: flex;
    margin-bottom: 5px;
}

.projects__navbar>div {
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
}

.projects__navbar-active {
    color: #00F260;
}

@media (max-width: 600px) {
    .app__main-content {
        margin-right: 10px;
        margin-left: 10px;
    }
    .sidebar__avr {
        width: 100%;
        padding-bottom: 15px;
        padding: 15px;
       
    }
    .icon_flotante{
        position: absolute;
        width: 70px;
        margin-left: -300px;
        margin-top: 20px; 
    }
  
    .noticias{
        position: absolute;
        
       margin-left: 300px;
        margin-top: -232px;
    }
    .sidebar__avatar {
        height: 250px;
        width: 100%;
      
        object-fit: contain;
       
    }
    .sidebar_r{
       height: 213px;
        width: 50px;
        margin-left:267px;
         margin-top: -232px;
         position: absolute;
    }
    .sidebar_{
        
      width: 100%;
        object-fit: contain;
       
    }
    .sideb{
        height: 202px;
        margin-top: -231px;
         width: 50px;
         margin-left: 270px;
         position: absolute;
    }
    .contenido{
    background-image: url("assets/projects_images/Recurso\ 135.png");
    width: 100%;
    height: 85%;
}

    .navbar__active {
        font-size: 1.5rem;
    }

    .navbar__item {
        font-size: 1rem;
    }
}