.bienestar{
  width: 900px;
  height: 500px;
  


  
}
.imgBien{
   
    position:absolute;
    margin-top: 80px;
    margin-left: 45px;
    width: 300px;
    
}
.imgBien22{
   
    position:absolute;
    margin-top: 40px;
    margin-left: 45px;
    width: 650px;
    
}
.imgBien2{
   
    position:absolute;
    margin-left: 880px;
    width: 260px;
    margin-top: 20px;
    
}
.imgBien3{
    width: 1090px;
    height: 900px;
    position: absolute;
    margin-top: 180px;
    margin-left: 45px;
  }
  .imgBien33{
    width: 1090px;
    height: 1000px;
    position: absolute;
    margin-top: 180px;
    margin-left: 45px;
  }
  .imgBien44{
    width: 1090px;
    height: 750px;
    position: absolute;
    margin-top: 180px;
    margin-left: 45px;
  }
  .imgBien4{
   
    position: absolute;
    margin-left: 45px;
    margin-top: 1100px;
    width: 700px;
    
    
}
.imgBien10{
    position: absolute;
    margin-left: 45px;
    margin-top: 950px;
    width: 700px;
}
.imgBien5{
   
    position: absolute;
    margin-left: 45px;
    margin-top: 1290px;
    width: 70px; 
}
.imgBien6{
   
    position: absolute;
    margin-left: 45px;
    margin-top: 1265px;
    width: 75px;
    
    
}
.imgBien66{
   
    position: absolute;
    margin-left: 1050px;
    margin-top: 1255px;
    width: 75px;
    
    
}
.imgBien7{
   
    position: absolute;
    margin-left: 1050px;
    margin-top: 1282px;
    width: 75px;  
}
.imgBien8{
   
    position: absolute;
    margin-left: 960px;
    margin-top: 1282px;
    width: 75px;  
}
.imgBien1{
  width: 1182px;
  height: 1400px;
}
.linea{
    position:absolute;
    margin-top: 156px;
    margin-left: 45px;
    width: 1085px;
    height: 4px;
}